# week_4

## introduction

## data science languages.

there are many languages used by data scientists but these are the most commonly used languages : 
* python
* sql
* R
* java
* scala
* julia

## data science libraries.
* NumPy
* SciPy
* Sci-Kit Learn
* Tensorflow

## data science tools
* tableau
* google sheets
* excel
* spss
* ibm watson studio
* Rstudio
and many more

## arithmetic expression examples

In [2]:
3+4

7

## mul & add numbers

In [3]:
3*(4+2)

18

# # Create a code cell to convert minutes to hours.

In [6]:
240/60,("hrs")

(4.0, 'hrs')